<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main">
            <h1> Instagram Clone</h1>
            <h3>Sign Up</h3>
          </div>

 <form method="post">
       <div>
           <label for="username">Username: </label>
           <input id="username" type="text" name="username" value="{{usename}}">
       </div>

       <div>
           <label for="name">Name: </label>
           <input id="name" type="text" name="name" value="{{name}}">
       </div>

       <div>
           <label for="email">Email: </label>
           <input id="email" type="text" name="email" value="{{age}}">
       </div>

       <div>
           <label for="password">Password: </label>
           <input id="password" type="password" name="password" value="{{passwod}}">
       </div>
           <input type="submit" value="Sign Up">
    </form>


</body>
</html>